.warningIcon {
    display: block;
    background-image: url('https://api.iconify.design/twemoji/warning.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.errorIcon {
    display: block;
    background-image: url('https://api.iconify.design/twemoji/cross-mark.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

a.btn {
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn--run {
    color: #fff;
    background-color: #eb6100;
}

a.btn--run:hover {
    color: #fff;
    background: #f56500;
}

a.btn--running {
    color: #fff;
    background-color: #e6bfa3;
    pointer-events: none;
}

a.copy_paste {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #5f5f5f28;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

a.copy_paste:hover {
    background-color: #f9db925c;
}

a.copy_paste.clicked {
    background-color: #37e0de;
}

.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 11px;
    line-height: 1.6em;
    color: #222;
    border-radius: 5px;
    background: #dddddd;
    width: 100px;
}

.description:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 5%;
    border: 15px solid transparent;
    border-top: 15px solid #dddddd;
    margin-left: -15px;
    transform: rotateZ(180deg);
}

a.copy_paste:hover .description {
    display: inline-block;
    top: 50px;
    left: -80px;
}

.dropdown_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown_menu a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.dropdown_menu .nav {
    display: flex;
    /* width: 310px; */
}

.dropdown_menu .nav>li {
    position: relative;
    /* width: 100px; */
    border-right: 1px solid #0071b9;
}

.dropdown_menu .nav>li:first-child {
    border-left: 1px solid #0071b9;
}

.dropdown_menu .nav a {
    display: block;
    line-height: 1;
    z-index: 1;
}

.dropdown_menu .nav {
    flex-flow: row wrap;
}

.dropdown_menu .nav a {
    padding: 0.5em 0;
    font-size: 16px;
    color: #0071b9;
    text-align: center;
}

.dropdown_menu .sub {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 2em;
    width: 100%;
    min-height: 0;
    height: 0;
    z-index: 3;
    transition: min-height 0.5s;
}

.dropdown_menu .sub>li>a {
    font-size: 16px;
    color: #fff;
    line-height: 1.75;
    background-color: #0071b9;
}

.dropdown_menu .sub>li>a:hover {
    background-color: #004b83;
    opacity: 1;
}

.dropdown_menu .sub.active {
    min-height: 180px;
}

.monaco-editor .bracket-highlighting-0 {
    font-weight: 512;
    color: #2b0fc9 !important;
}
.monaco-editor .bracket-highlighting-1 {
    font-weight: 512;
    color: #4bb818 !important;
}
.monaco-editor .bracket-highlighting-2 {
    font-weight: 512;
    color: #bb7000 !important;
}

#source_editor_container .monaco-editor .mtkw {
    color: rgba(128, 128, 128, 0.12) !important;
}